@use "../scss/Variables";

.topBar {
  background-color: Variables.$color2;
  padding: Variables.$spacing / 2;



  .topBarButton {
    margin-left: Variables.$spacing;
    margin-right: Variables.$spacing;

    background-color: Variables.$color2;
    border-radius: Variables.$spacing;
    border: none;

    color: Variables.$textColor;
    font-size: Variables.$H3;
    transition-duration: 0.2s;

    &:hover {
      background-color: Variables.$color3;
    }

    &:active {
      background-color: Variables.$color4;
    }

  }
}
