$color1: #252525;
$color2: lighten($color1, 10);
$color3: lighten($color2, 10);
$color4: lighten($color3, 10);
$color5: lighten($color4, 10);

$textColor: white;

$H1: 2vw;
$H2: 1.7vw;
$H3: 1.25vw;
$H4: 1vw;
$H5: 0.75vw;
$H6: 0.5vw;

$spacing: 10px;

html, body, #root,{
  height: 100%;
  margin: 0;
}


body {
  background-color: $color1;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}




* {
  font-family: "Century Gothic", Futura, sans-serif;
  color: $textColor;
}
